<div class="list-group">     
  <a title="小组管理" class="list-group-item{% if page == 'group' %} active {% endif %}" href="{{ path('admin_group') }}">
    小组管理
  </a>  
  <a title="话题管理" class="list-group-item{% if page == 'thread' %} active {% endif %}" href="{{ path('admin_thread') }}">
    话题管理
  </a>    
</div>