{% extends "AppBundle::base.html.twig" %}

{% import "AppBundle::macro.html.twig" as web_macro %}

{% do css(['libs/vendor.css', 'app/css/main.css'], 100) %}
{% do script(['libs/vendor.js', 'app/js/common.js', 'app/js/main.js'], 100) %}

{% block body %}
    {% block header %}
      {% include 'AppBundle:default:header.html.twig' %}
    {% endblock %}
    {% block full_content %}
      {% block top_content %}{% endblock %}

      <div id="content-container" class="container">
        {% block content %}{% endblock %}
      </div>

      {% block bottom_content %}{% endblock %}
    {% endblock %}

    {% block footer %}
      {% include 'AppBundle:default:footer.html.twig' %}
    {% endblock %}    
{% endblock %}
