{% extends 'AppBundle::admin/layout.html.twig' %}

{% set page = 'user' %}

{% block sidebar %}
  {% include 'AppBundle::admin/user/side-bar.html.twig' %}
{% endblock %}

{% block page_title %}
    {{ '用户管理' }}
{% endblock %}

{% block page_buttons %}
    <a class="btn btn-success btn-sm" href="#" target="blank">{{ '创建用户' }}</a>
{% endblock %}

{% block main %}

{% endblock %}