<div class="tabs-wrapper">
  <div class="tabs-mark-group plm ptm">
    <div class="title">所有分类：</div>
    <ul class="content list-unstyled list-inline">
      <li class="classify"></li>
      <li class="classify"></li>
      <li class="classify"></li>
    </ul>
  </div>
  <div class="tabs-group">
    <div class="title">分类:</div>
      <ul class="content clearfix">
        <li class="active"><a class="nav-link" href="">全部</a></li>
        <li class=""><a class="nav-link" href="">默认分类</a></li>
      </ul>
  </div> 
</div>