<div class="list-group">     
  <a title="快递管理" class="list-group-item{% if page == 'express' %} active {% endif %}" href="{{path('admin_express')}}">
    快递管理
  </a>  
  <a title="订单管理" class="list-group-item{% if page == 'orders' %} active {% endif %}" href="{{path('admin_express_orders')}}">
    订单管理
  </a>    
</div>